html {
	font-size: 80%;
	font-family: Verdana;
	/*	background-color: #bfbfbf */
}

img {
	max-width: 100%;
	height: auto
}

.container,
.container-wide {
	padding-top: 15px;
	padding-bottom: 15px;
}

.overflow-auto {
	overflow: auto;
}

hr {
	margin-top: 5px;
	margin-bottom: 5px
}

input {
	margin-left: 5px;
	margin-right: 5px;
	width: 100%;
	height: 100%
}

button {
	padding-top: 2px;
	background-color: #f2b800;
	color: white;
	border-color: #f2b800;
	border-width: 1px;
	border-radius: 4px;
	width: 100%;
	cursor: pointer
}

.cartItem p {
	margin-top: 0;
	margin-bottom: 0
}

.item_description {
	font-weight: bold;
	margin-bottom: 10px
}

.error {
	color: red
}

.hidden {
	display: none
}

#customValues {
	background-color: #bfbfbf
}

#customValues input,
#customValues textarea {
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 6px
}

#customValues .label {
	padding-top: 2px;
	text-align: right
}

#customValues .label span {
	cursor: help
}

a,
a:visited {
	color: inherit
}

header {
	position: sticky;
	width: 100%;
	top: 0;
}

footer {
	position: sticky;
	width: 100%;
	bottom: 0;
}